---
import { Icon } from "astro-icon/components";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import { formatDateToYYYYMMDD } from "@/utils/date-utils";

interface Props {
	date: Date;
	weather: string;
	location: string;
	className?: string;
}

const {
	date,
	weather,
	location,
	className = "",
} = Astro.props;
---

<div
	class:list={[
		"post-meta-root flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2",
		className,
	]}
>
	<div class="flex items-center">
		<div class="meta-icon">
			<Icon
				name="material-symbols:calendar-today-outline-rounded"
				class="text-xl"
			/>
		</div>
		<span class="text-50 text-sm font-medium">
			{formatDateToYYYYMMDD(date)}
		</span>
	</div>

	<div class="flex items-center">
		<div class="meta-icon">
			<Icon
				name="material-symbols:partly-cloudy-day-outline-rounded"
				class="text-xl"
			/>
		</div>
		<span class="text-50 text-sm font-medium">
			{i18n(I18nKey.diaryWeather)}: {weather}
		</span>
	</div>

	<div class="flex items-center">
		<div class="meta-icon">
			<Icon
				name="material-symbols:location-on-outline-rounded"
				class="text-xl"
			/>
		</div>
		<span class="text-50 text-sm font-medium">
			{i18n(I18nKey.diaryLocation)}: {location}
		</span>
	</div>
</div>
